fastapi==0.115.12
langchain==0.3.24
langchain_azure_ai==0.1.2
langchain_community==0.3.22
langchain_core==0.3.55
langchain_text_splitters==0.3.8
llama_index==0.12.33
nest_asyncio==1.6.0
openai==1.76.0
pydantic==2.11.3
streamlit_chat==0.1.1
uvicorn==0.34.2
